* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  width: 100%;
  height: 100%;
}

button {
  display: block;
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

.Dialog-overlay {
  background: rgba(0, 0, 0, 0.6);
  display: grid;
  place-items: center;
}

.Dialog {
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
}

.react-flow {
  background: #F7F7F5;
}